.button{
  color:  red;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 20px;
  border: 1px solid blue;
  border-radius: 5px;

}


.text {
  height: 30px;
  width: 500px;
  margin-top: 40px;
  margin-left: 10px;
  border: 1px solid blue;
  border-radius: 5px;
}

body {
  background-color: #EDDAD7;
}

/* .main{
  border: 1px solid blue;
} */
